<h3>Kiralama Koşulları</h3>
<h6>Kiraladığınız aracı yalnızca sözleşme ve teslimat formunda belirtilen
     kişi/kişiler kullanabilir. Sözleşmede belirtilmeyen üçüncü kişilerin, aracı kullanmaları 
     halinde meydana gelebilecek hasarlarda, hiçbir hasar güvencesi geçerli değildir. 
     Araç kullanıcı sayısını arttırabilmek için şubelerimizden, “Ek Sürücü” hizmeti satın alabilirsiniz. 
     Ek sürücü; aracı kiralayan kişi dışında aracı kullanacak biri veya birileri var ise satın alınmak zorundadır. 
     Bir araç için en fazla 5 adet ek sürücü tanımlanabilir. Araç gruplarında belirlenmiş olan yaş ve ehliyet yılı 
     koşulları dâhilinde kiralama yapılabilmektedir. Bu koşulların sağlanamaması durumunda “Genç Sürücü” hizmet paketi
      satın alarak bu paket içeriğindeki limitler dâhilinde kiralama yapabilirsiniz. Genç sürücü hizmet paketi
       “Maksimum Güvence” hizmetini de içermektedir. Ek Sürücü ve Genç Sürücü Hizmet ücretlerini rezervasyon
        merkezimiz ve şubelerimizden öğrenebilirsiniz.</h6>

   <h4> Yaş ve Ehliyet Yılı Koşulları</h4>
   <h6> Araç gruplarına bağlı minimum yaş ve ehliyet yılı bilgileri aşağıdaki tabloda belirtilmiştir. Bu koşulları hem kiracı hem de ek sürücünün/sürücülerin sağlaması gerekmektedir. Ehliyet üzerinde T.C. kimlik numarası bulunması zorunludur. Yeni kimliklerle birleşik ehliyetler ile kiralama yapılamaz. Yanınızda ehliyetiniz bulunmak zorundadır.
    
    </h6>
