<h4>{{title}}</h4>

<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label" >Kart Numarası*</label>
    <input type="text" class="form-control" id="formGroupExampleInput" >
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Kart Üzerindeki İsim*</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" >
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Son Kullanma Tarihi*</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="__ /__">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">CVC Güvenlik Kodu*</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="***">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">KVKK Aydınlanma Metni
        'ni okudum, kabul ediyorum.</label>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Kiralama Sözleşmesi
        'ni okudum, kabul ediyorum.</label>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Tarafıma tüm ticari kampanyalar dahil olmak üzere, tüm iletişim kanallarından (SMS, telefon, e-bülten vs.) ticari elektronik ileti gönderilmesini kabul ediyorum.</label>
  </div>
  <button type="submit" class="btn btn-primary">Ödemeyi Tamamla</button>
 