<form>
    <div class="mb-3">
      <label  class="form-label">Alış Ofisi</label>
      <input class="form-control" >
    </div>
    <div class="mb-3">
      <label  class="form-label">İade Ofisi</label>
      <input class="form-control" >
    </div>
    <div class="mb-3">
      <label  class="form-label">Alış Tarihi</label>
      <input type="date" class="form-control" >
    </div>
    <div class="mb-3">
      <label  class="form-label">İade Tarihi</label>
      <input type="date" class="form-control" >
    </div>

    <label >Ek Hizmetler:</label>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Adrese Teslim Hizmeti</label>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Çocuk Koltuğu</label>
      </div>

    <button type="submit" class="btn btn-primary" routerLink="/payment" >Kirala</button>
  </form>

